.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100vw;
    height: auto;
    left: 0px;
    top: 0px;
    background: #141416;
}
