.custom-button {
    background: #3772FF;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 16px;
    color: #FCFCFD;
    border-radius: 90px;
    border: none;
    
    &:hover {
        cursor: pointer;
    }

    &.in-black {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
        background: #141416;
        border: 2px solid #777E90;
        color: #FCFCFD;

        &:hover {
            cursor: pointer;
            background: #3772FF;
        }
    }

    &.filter {
        width: 116px;
        text-align: center;
        display: inline-block;

        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    &.in-loading {
        margin-bottom: 128px;
        
        i {
            margin-left: 5px;
        }
    }

    &.in-search {
        width: 182px;
    }

    &.in-open {
        width: 80%;
        margin-bottom: 15px;
    }

    &.in-dropdown {
        width: 295px;
        height: 32px;
        border: 2px solid #353945;
        border-radius: 90px;
        background: #23262F;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.in-brown {
        background: #23262F;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #353945;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}